@import url('https://fonts.googleapis.com/css2?family=IBM Plex Sans Arabic:wght@300;400;500&family=Poppins:wght@500;600&display=swap%27');

* {
    font-family: 'IBM Plex Sans Arabic';
    font-weight: 500;
}

h1 {
    text-align: center;
    color: rgb(29, 83, 221);
}

a {
    background-color: rgb(29, 83, 221);
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#TuwaiqIMG {
width:80px;
height:80px;
}

h3 {
    color: #0ccfa8;
    text-decoration: underline;
}
